body{
	margin: 0;
	color: #fff;
}
.header{
	height: 100vh;
	background-color: #ffc800;
	
}
.container{
	background-color: #00000068;
	height: 100%;
}
.header-line{
	background-color: goldenrod;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px;
	border-bottom: solid #000 thin;
}
.header-logo{
	margin-left: 50px;
	margin-top: 5px;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 50px;
}
.nav-item{
	font-family: 'Phudu', cursive;
	display: flex;
	flex-wrap: nowrap;
	white-space: nowrap;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 22px;
	margin-right: 35px;
	margin-left: 35px;
	padding: 10px;
	background-color: #ffc800;
	transition: color 0.4s linear, transform 1s;
	border-radius: 15px;
}
.nav-item:hover {
	color: #d81d1d;
	transform: scale(1.2);
}
.cart_container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: #ffc800;
	border-radius: 40px;
	height: 35px;
	width: 50px;
	transition: 1s;
}
.cart_container:hover{
	transform: scale(1.2);
	width: 80px;
}
.cart_container a{
	position: relative;
}
#cart_count{
	visibility: hidden;
}
