body{
	margin: 0;
	background-image: url(../jpg/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.header{
	height: 100vh;
	
}
.container{
}
.header-line{
	background-color: goldenrod;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.header-logo{
	margin-left: 50px;
	margin-top: 5px;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 50px;
}
.nav-item{
	font-family: 'Phudu', cursive;
	display: flex;
	flex-wrap: nowrap;
	white-space: nowrap;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 22px;
	margin-right: 35px;
	margin-left: 35px;
	padding: 10px;
	background-color: #ffc800;
	transition: color 0.4s linear, transform 1s;
	border-radius: 15px;
}
.nav-item:hover {
	color: #d81d1d;
	transform: scale(1.2);
}
.right-side{
	display: flex;
}
.cart{
	display: flex;
	padding-right: 10px;
	border-right: 1px solid #FFFFFF;
	height: 50px;
	align-items: center;

}
.cart-img{
	position: relative;
	z-index: 2;
}
.cart_count{
	position: relative;
	right: 15px;
	top: 5px;
	text-decoration: none;
	text-align: center;
	height: 30px;
	width: 30px;
	background-color: #ffc800;
	border-radius: 50px;
	font-size: 24px;
	color: #fff;
	transition: color 0.2s linear;
	z-index: 1;
}
.cart_count:hover {
	color: #d81d1d;
}
.phone{
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;

}
.phone-img{
	display: flex;
	margin-left: 10px;
	align-items: center;
}

.phone-holder{
	display: flow;
	margin-left: 10px;
	margin-right: 10px;
}
.num{
	font-family: 'Phudu', cursive;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	transition: color 0.2s linear;
}
.num:hover{
	color: #d81d1d;
}
.phone-text{
	font-family: 'Phudu', cursive;
	color: #fff;
	font-weight: 700;
}
.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-right: 30px;
	margin-left: 30px;
}
.button{
	font-family: 'Phudu', cursive;
	background-color: #ffc800;
	border-radius: 10px;
	border-color: orange;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	padding: 15px;
	transition: color 0.4s linear, transform 1s;
}
.button:hover {
	color: #d81d1d;
	transform: scale(1.2);
}
.welcome-holder{
	margin-top: 80px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #241703c9;
	border-radius: 20px;
}
.welcome{
	position: relative;
	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.welcome-text-start{
	font-family: 'Phudu', cursive;
	font-size: 50px;
	font-weight: 400;
	color: #ffc800;
	line-height: 57px;
	letter-spacing: 0em;
	text-align: left;
}
.welcome-text-end{
	font-family: 'Phudu', cursive;
	font-size: 80px;
	font-weight: 400;
	color: #ffc800;
	line-height: 92px;
	letter-spacing: 0em;
	text-align: left;
}
.welcome-compliment{
	font-family: 'Phudu', cursive;
	margin-top: 20px;
	font-size: 22px;
	font-weight: 400;
	color: #fff;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
}
.welcome-compliment:after{
	position: absolute;
	content: "";
	height: 2px;
	width: 81px;
	background-color: #fff;
	top: 182px;
    right: 716px;
}
.welcome-compliment:before{
	position: absolute;
	content: "";
	height: 2px;
	width: 81px;
	background-color: #fff;
	top: 182px;
    right: 716px;
}